body{
    font-family: "Arial Narrow";
    font-size: 1.2em;
    background-color: dimgrey;
    color: white;
    width: 100%;
    min-width: 25%;
}

.contenedor_principal{
    width:50%;
    height: 300px;
    border:3px solid yellow;
    margin:0 auto;
    margin-top:10%;
}
.container{
    width: 50%;
    height: 50%;
    border: 4px dashed white;
    margin:0 auto;
    margin-top: 10%;
}